<h1>Student management loans</h1>
<div class="section">
    <p>Loans shani shani</p>
</div>
    <div class="divider"></div>
</div>
<div class="section">
    <a href="/login" class="btn blue darken-1">
        login
    </a>
</div>
