<h1 class="text-3xl font-bold underline">login</h1>
<div class="section">
    <form id="registerUser">
        <div>
            <span class="form-input-placeholder">email</span>
            <input name="email" id="email" type="email" class="form-input" placeholder="Enter email"/>
        </div>
        <div>
            <span class="form-input-placeholder">password</span>
            <input name="password" id="password" type="text" class="form-input" placeholder="Enter password"/>
        </div>
        <div class="section">
    <button type="submit" class="btn blue darken" id="loginbutton">
        login
    </button>
</div>
    </form>
</div>
<script src="/js/login-user.js"></script>
