<h1 class="text-3xl font-bold underline">signin</h1>
<div class="section">
    <form id="registerUser">
        <div>
            <span class="form-input-placeholder">username</span>
            <input name="username" id="username" type="email" class="form-input" placeholder="Enter username"/>
            
        </div>
        <div>
            <span class="form-input-placeholder">email</span>
            <input name="email" id="email" type="email" class="form-input" placeholder="Enter email"/>
        </div>
        <div>
            <span class="form-input-placeholder">phone</span>
            <input name="phone" id="phone" type="number" class="form-input" placeholder="Enter phone"/>
        </div>
        <div>
            <span class="form-input-placeholder">role</span>
            <input name="role" id="role" type="text" class="form-input" placeholder="Enter role"/>
        </div>
        <div>
            <span class="form-input-placeholder">password</span>
            <input name="password" id="password" type="text" class="form-input" placeholder="Enter password"/>
        </div>
        <div class="section">
        <button type="submit" class="btn blue darken">
            signup
        </button>
</div>
    </form>
</div>
<script src="/js/create-user.js"></script>
